{% extends 'base.html' %}

{% block title %}Бисквитки | {% endblock %}

{% block content %}
    <h4 class="title is-4 has-text-centered">НИЕ ИЗПОЛЗВАМЕ “БИСКВИТКИ”</h4>
    <p class="subtitle has-text-grey-dark">Бисквитки</p>
    <p class="has-text-grey-dark ">
        - Нашият уеб сайт използва така наречените „бисквитки“. Това са малки текстови файлове,
         които се зареждат в браузъра и се съхраняват на Вашето крайно устройство. 
         Те са безобидни. Използваме ги, за да поддържаме сайта си лесен за употреба. Някои „бисквитки“ 
         остават съхранени на устройството Ви, докато не ги изтриете. Те ни позволяват да разпознаем Вашия браузър при следващото ви посещение в нашия сайт.
    </p>
    <p class="has-text-grey-dark" style="margin-top: 1%;">
        Конкретно, използваните на нашия сайт бисквитки са:
        <br>
        1) CSRF Token – задължава браузъра Ви да обработва „бисквитки“; 
        <br>
        1) Session ID –  гарантира, че всяка информация, която давате или приемате, се запомня от нашия уебсайт. Без тази „бисквитка“ сайтът ни ще Ви третира като „нов“ посетител при всяко Ваш влизане. Тя не ви идентифицира лично и не е свързана с друга информация. 
        <br>
        Искаме да знаете, че използваме „бисквитките“ на основание чл. 4а от Закона за електронната търговия (ЗЕТ) и член 6, ал. 1, буква (е) от GDPR.
    </p>
{% endblock %}