{% extends 'base.html' %}

{% block title %}Декларация | {% endblock %}

{% block content %}
    <h4 class="title is-4 has-text-centered">ДЕКЛАРАЦИЯ ЗА ДАВАНЕ НА СЪГЛАСИЕ ЗА ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ</h4>
    <h1 class="subtitle has-text-centered" style="margin-top: 1%; margin-bottom: 0;">Декларация за даване на съгласие за обработване на лични данни съобразно </h1>
    <h1 class="subtitle has-text-centered">чл. 7 от Регламент 2016/679 НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ И НА СЪВЕТА</h1>

    <p class="has-text-grey-dark has-text-centered">
        Съгласен/съгласна съм с това, че личните ми данни, а именно три имена, адрес, имейл адрес, телефонен номер се обработват от за изпълнение на договор за закупена стока или поръчана услуга, както и за изпращане на информационни и рекламни съобщения за продуктите и услугите на thriftonline.com. Съгласието си предоставям за периода, необходим за изпълнение на преддоговорното или договорно отношение между мен и thriftonline.com, а след това за по-краткото от: 1) предвидения период за съхраняване на договорни документи съгласно данъчното и счетоводното законодателство на Република България или 2) периода от 5 години.
    </p>
    <p class="has-text-grey-dark has-text-centered" style="margin-top: 1%;">
        Информиран/информирана съм, че мога да оттегля съгласието си по всяко време като го заявя на адрес Упражни правата си!, както и че искането ми може да не бъде удовлетворено, ако същото противоречи на изпълнението на законови задължения на администратора или на обществения интерес.
    </p>
{% endblock %}