{% extends 'base.html' %}

{% block content %}

<div class="columns">
  <div class="column is-2 is-offset-5">
    <form id="id_password_change_form" method="POST" class="form-signin">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Промяна на парола</h1>
    
        <div class="field">
            <div clas="control">
              <input name="old_password" class="input" placeholder="Стара парола" type="password" id="id_old_password" required="true">
            </div>
        </div>
    
        <div class="field">
          <div clas="control">
            <input name="new_password1" class="input" placeholder="Нова парола" type="password" id="id_new_password1" required="true">
          </div>
        </div>
    
        <div class="field">
          <div clas="control">
            <input name="new_password2" class="input" placeholder="Потвърди паролата" type="password" id="id_new_password2" required="true">
          </div>
        </div>
    
    
        {% for field in form %}
          {% for error in field.errors %}
          <div class="notification is-danger">
            {{ error }}
          </div>
          {% endfor %}
        {% endfor %}
    
      <button id="id_submit_btn" class="button is-black" type="submit">Промяна</button>  
    </form>    
  </div>
</div>


{% endblock %}